In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
print('hello')
print('hi',end="\n")
print('bye')

hello
hi
bye

In [11]:
a=10
print('The value of a is:',a)

The value of a is: 10

In [14]:
d={'a':1,'b':2,'c':3}
for key,val in d.items():
    print(key,val)

a 1
b 2
c 3

In [15]:
d1={'a':2,'b':4,'c':32}
for val in d1.keys():
    print(val)

a
b
c

In [16]:
d1={'a':2,'b':4,'c':32}
for val in d1.values():
    print(val)

2
4
32

In [19]:
i=0
while i<5:
    print(i)
    i +=1
else:
    print('reached to the value of 4')

0
1
2
3
4
reached to the value of 4

In [20]:
# A
# BB
# CCC
# DDDD

In [25]:
n = 4
for i in range(n):
  for j in range(i+1):
    print(chr(65+i), end = "")
  print()

A
BB
CCC
DDDD

In [16]:
print('Checking palindrome')
text=input('enter text to check')
list1=[]
# print(len(text))
for i in range(len(text)-1,-1,-1):
    # print('insdie a loop')
    list1.append(text[i])
    # print(text[i])
# print(list1)   

word="".join(list1)
# print(word)

if text==word:
    print('palindrome')
else:
    print('Nothinng man')

Checking palindrome
palindrome

In [17]:
list1=[10,20,10,10,20,30,40]

In [23]:
noduplicate=list(set(list1))
noduplicate

[40, 10, 20, 30]

In [24]:
d1 = {'a': 1,'b':2}
d2 = {'b':3,'c':4}

In [27]:
d1.update(d2)
d1

{'a': 1, 'b': 3, 'c': 4}

In [30]:
a=10
b=20

In [31]:
if type(a)==type(b):
    print(a+b)
else:
    print('mismatch')

30

In [32]:
n=5

In [34]:
*
**
***
****
*****

SyntaxError: invalid syntax (1172894733.py, line 1)

In [50]:
n=6
for i in range(1,n,1):
    j=str(i)
    print(j*i)

1
22
333
4444
55555

In [51]:

text = """Google is great.
    It offers me colab for free.
    using colab is amazing"""

76